h1 {
    font-family: Georgia, 'Times New Roman', Times, serif; color: white;   
}
p {
    font-family: Arial, Helvetica, sans-serif; color: white; 
}
a {
    font-family: Arial, Helvetica, sans-serif; color: white;
    font-size: medium;
}